:root {
    --variable-de-andrea: green;
}

body {
    align-items: stretch;
    background: var(--variable-de-andrea);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gorritoParent {
    background: white;
    display: flex;
    justify-content: flex-start;
}

.gorritoChildren {
    background: none;
    width: 25%;
}

.second-row {
    align-items: stretch;
    background: var(--variable-de-andrea);
    display: flex;
    justify-content: center;
}

.another-box-item {
    align-items: center;
    background: bisque;
    border: 1px solid red;
    display: flex;
    flex: 1;
    justify-content: center;
}

.third-row {
    border: 2px solid pink;
    display: flex;
}

.third-row-children {
    border: 1px solid orange;
    display: flex;
    flex: 1;
    padding: 20px;
}
