/* Default vars */
:root {
    --main-blue-color: cornflowerblue;
    --main-font-size: 20px;
    /*--main-font-color: black;*/
}

body {
    align-items: stretch;
    background: var(--main-blue-color);
    display: flex;
    flex-direction: column;
    font-size: var(--main-font-size);
    justify-content: center;
    margin: 0;
    padding: 0;
}

.banner {
    background: lightblue;
    display: flex;
    justify-content: flex-start;
}

/* Style only for header class inside banner class */
.banner .header {
    align-items: center;
    color: var(--main-blue-color);
    display: flex;
    flex: 1;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
}

/* Hat logo */
.chef-hat {
    margin-left: 10px;
    width: 20%;
}

.container {
    padding: 10px;
}
