a {
  color: var(--main-font-color);
  text-decoration: none;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

:root {
  --main-blue-color: lightskyblue;
  --main-font-color: white;
  --main-font-size: 4vmin;
  --1vh-1vw: calc(1vh + 1vw); /* height and width. For responsive design, do no use Pixels */
}

.banner {
  background: deepskyblue;
  display: flex;
  justify-content: flex-start;
  padding: var(--1vh-1vw);
}

/* Style only for header-text class belonging to banner class */
.banner .header-text {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex: 1;
  font-size: 8vw;
  font-weight: bold;
  justify-content: center;
}

body {
  background: var(--main-blue-color);
  display: flex;
  flex-direction: column;
  font-size: var(--main-font-size);
  margin: 0;
  padding: 0;
}

.container {
  padding: var(--1vh-1vw);
}

/* App icon logo */
.app-icon-logo {
  align-self: center; /* Avoid to expand image */
  margin-right: var(--1vh-1vw);
  width: calc(14vw);
}

.add-recipe-container {
  border: 3px dashed coral;
  margin-top: 4vmin;
  padding: 2vmin;
}

/* Menu component */
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-container .menu-element{
  align-items: center;
  background: deepskyblue;
  border: 1vmin dotted white;
  display: flex;
  font-size: 6vmin;
  justify-content: center;
  margin: 1vmin;
  padding: 5vmin;
  text-align: center;
}

.recipe-list-box {
  border: 3px dashed green;
  display: flex;
  flex-direction: column;
  margin-top: 4vmin;
  padding: 2vmin;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  font-size: 3vmin;
  margin-bottom: 3vmin;
}

.work-in-progress-container {
  border: 3px dashed yellow;
  display: flex;
  flex-direction: column;
  margin-top: 4vmin;
  padding: 2vmin;
}

/* Image rotation */
.rotate-image {
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .input-error {
  color: red;
  font-size: 3vmin;
  font-weight: bold;
}

button, input {
  margin: 2vmin 0 2vmin 0;
  padding: 2vmin;
}

.default-button {
  background: cornflowerblue;
  border: 1vmin solid royalblue;
}

.add-button {
  background: #87c973;
  border: 1vmin solid #029202;
}

.delete-button {
  background: #f36464;
  border: 1vmin solid #c90202;
}

/* Rotation degrees */
@keyframes rotate-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Rotation animation (speed)*/
@media (prefers-reduced-motion: no-preference) {
  .rotate-image {
    animation: rotate-image-spin infinite 15s linear;
  }
}
